 .u-section-1 {
  filter: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pexels-cottonbro-10320239.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 993px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 0;
  margin-top: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(192,192,192,1);
  margin: 277px 376px 0 332px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 378px;
  margin: 58px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 838px;
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: 592px;
    margin-left: 152px;
    margin-right: 196px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    width: 243px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 42px;
    margin-right: 86px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-bottom: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 66px;
    font-size: 2rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }
}