 .u-section-1 {
  filter: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pexels-cottonbro-3205538.jpg');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  min-height: 976px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 0;
  margin: 0 calc(((100% - 1300px) / 2));
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-shadow: 3px 1px 0px rgba(178,154,54,1);
  font-size: 6rem;
  margin: 285px calc(((100% - 1300px) / 2)  + 121px) 0 calc(((100% - 1300px) / 2)  + 107px);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  margin: 54px calc(((100% - 1300px) / 2)  + 81px) 0 calc(((100% - 1300px) / 2)  + 107px);
}

.u-section-1 .u-image-1 {
  width: 310px;
  height: 310px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 139px auto 0 calc(((100% - 1300px) / 2)  + -203px);
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -310px auto 60px;
  padding: 15px 44px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 706px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 296px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 49px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -97px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: 56px;
    margin-left: calc(((100% - 940px) / 2)  + -147px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -277px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 322px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: -123px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2)  + -147px);
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 406px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 536px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: -324px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: 190px;
    margin-left: calc(((100% - 540px) / 2)  + -147px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -385px;
    margin-bottom: -77px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 578px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -478px;
    margin-right: calc(((100% - 340px) / 2)  + -34px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: 282px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -502px;
    margin-bottom: 0;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(10px) translateY(0px) !important;
  opacity: 0.8 !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(10px) translateY(0px) !important;
  opacity: 0.8 !important;
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pexels-leeloothefirst-5428830.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 64px 211px 0 -11px;
}

.u-section-3 .u-gallery-1 {
  height: 872px;
  width: 1322px;
  margin: 21px -11px 47px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: auto;
  --effect-scale: 10;
  margin-top: 0;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 10s;
}

.u-section-3 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(#77aad9, #adf6f2);
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: auto;
  margin-top: 0;
  --effect-scale: 10;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 10s;
}

.u-section-3 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(#77aad9, #adf6f2);
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: auto;
  --effect-scale: 10;
  margin-top: 0;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 10s;
}

.u-section-3 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  background-image: linear-gradient(#77aad9, #adf6f2);
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    margin: 60px 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-back-image-1 {
    width: auto;
  }

  .u-section-3 .u-back-image-2 {
    width: auto;
  }

  .u-section-3 .u-back-image-3 {
    width: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 7px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 4px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 61px;
    margin-bottom: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 3px;
  }
}